.Coluna1{
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Coluna2{
  display: inline-block;
}

.Coluna3{
  display: inline-block;
}

.Coluna4{
  display: inline-block;
}


.Fundo{
  background-color: #ECEEF1;
}

.Fundo p{
  background-color: white;
  width: max-content;
}

.Fundo:hover p{
  position: relative;
  bottom: 10px;
}

.Itens{
  position: relative;
  display: inline-block;
  margin: 5px;
  left: 75px;
}

.Itens img{
  width: 275px;
  height: 275px;
}

.Itens p{
  position: relative;
  left: 10px;
}

.Itens:hover{
  border: 1px solid black;
}