<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="../style/carrinho.css">
    <title>Produtos</title>
</head>
<body>

    <iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe>
   

    <div class="Coluna1">
      
      <div class="Itens">
        <div class="Fundo">
          <img src="../images/camisa.webp" alt="Camiseta Adicolor Essentials">
          <p>R$ 89,99</p>
        </div>
        <p>Camiseta Adicolor Essentials</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/camisa2.webp" alt="Camiseta Esportiva">
          <p>R$ 119,99</p>
        </div>
        <p>Camiseta Esportiva</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/camisa3.webp" alt="Camiseta Essentials">
          <p>R$ 99,99</p>
        </div>
        <p>Camiseta Essentials</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/jaqueta.jpg" alt="">
          <p>R$ 199,99</p>
        </div>
        <p>Moletom Essentials</p>
      </div>

    </div>

    <div class="Coluna2">
      
      <div class="Itens">
        <div class="Fundo">
          <img src="../images/calca1.webp" alt="Calças Pretas Afuniladas">
          <p>R$ 199,99</p>
        </div>
        <p>Calças Pretas Afuniladas</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/calca2.webp" alt="Calças Pretas Afuniladas Cinza">
          <p>R$ 199,99</p>
        </div>
        <p>Calças Pretas Afuniladas Cinza</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/calca3.webp" alt="Calças Adidas">
          <p>R$ 149,99</p>
        </div>
        <p>Calças Adidas</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/calca4.webp" alt="Calça Beand Love">
          <p>R$ 249,99</p>
        </div>
        <p>Calça Beand Love</p>
      </div>

    </div>

    <div class="Coluna3">
      
      <div class="Itens">
        <div class="Fundo">
          <img src="../images/tenis2.webp" alt="Stan Smith Her Vegan">
          <p>R$ 499,99</p>
        </div>
        <p>Stan Smith Her Vegan</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/tenis1.webp" alt="Stan Smith Recon">
          <p>R$ 799,99</p>
        </div>
        <p>Stan Smith Recon</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/chuteira.webp" alt="Tenis Superstar">
          <p>R$ 499,99</p>
        </div>
        <p>Tenis Superstar</p>
      </div>

      <div class="Itens">
        <div class="Fundo">
          <img src="../images/tenis.webp" alt="Tenis Superstar">
          <p>R$ 499,99</p>
        </div>
        <p>Tenis Superstar</p>
      </div>

    </div>

    <iframe src="/views/footer.html" frameborder="0" height="150px" width="100%"></iframe>
</body>
    
</html>