<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/carrossel.css">
    <title>Document</title>
</head>
<body>
    <iframe src="/views/header.html" frameborder="0" height="150px" width="100%"></iframe>
   
    <div id="carousel">
        <img src="/images/BPF2579-2048x1365.jpg" class="slide">
        <img src="/images/hero-bg.jpg" class="slide">
        <img src="/images/ucd-sport-2016-pageBanner04.jpg" class="slide">
      </div>
      <button id="previous"> <img src="/images/arrow-circle-left.svg" alt="">  </button>
      <button id="next"> <img src="/images/arrow-circle-right.svg" alt=""> </button>

      <!-- bolinhas de paginacao -->
      <div id="pagination">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    <script src="/js/carrossel.js"></script>
</body>
</html>