<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/carrossel.css">
    <title>Document</title>
</head>
<body>
    <iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe>
   
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="../style/carrinho.css">
    <title>Document</title>
</head>
<body>
    <iframe src="/partials/header.html" frameborder="0" height="150px" width="100%"></iframe>
   
    
    <div class="Cetralizar">

        <div class="LadoDireito">
            <img src="../images/camisa.webp" alt="bola teste" class="Icone">
        </div>

        <div class="LadoEsquerdo">
            <div>
                <p class="Produto">Camisa Squadra 25</p>
                <p class="Preco">R$ 129,99</p>
            </div>
            <div>
                <input type="submit" value="Adicionar ao carinho" class="Comprar">
            </div>
        </div>

    </div>

    

    <iframe src="/views/footer.html" frameborder="0" height="150px" width="100%"></iframe>
</body>
</html>
    

    <iframe src="/views/footer.html" frameborder="0" height="150px" width="100%"></iframe>
</body>
</html>