<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="../style/carrinho.css">
    <link rel="stylesheet" href="../style/header.css">
    <title>Produtos</title>
</head>
<body>

  <header class="header">
    <div class="h-titulo"><p>Soul Sport Center</p></div>

    <div class="h-medio">
        <div class="h-navybar">
            <ul class="nav-list">
                <li class="nav-item"><a href="/views/home.html">Home</a></li>
                <li class="nav-item"><a href="/views/carrinho.html">Produtos</a></li>
                <li class="nav-item"><a href="../views/about.html">Sobre</a></li>
                <li class="nav-item"><a href="/views/contact.html">Contato</a></li>
            </ul>
        </div>
        <div class="right-side">
            <div class="search">
                <input type="text" placeholder="Procurar">
            </div>

            <div class="icons-header">
                <div class="icon-right-site"> 
                    <a href="#"> <ion-icon name="person-outline"></ion-icon>  </a>
                    </div>
            
                <div class="icon-right-site">
                    <a href="#"><ion-icon name="star-outline"></ion-icon> </a>
                   </div>
            
                <div class="icon-right-site">
                    <a href="#"><ion-icon name="cart-outline"></ion-icon> </a>                
                </div>
            </div>
        </div>      
        </div>

    <div class="h-cadastro">
      <a href="#">Entre para o clube</a>
    </div>
</header>   

<section id="carrinho_produtos">
  <div id="filtros">
    <button class="filtro" data-categoria="todos">Todos</button>
    <button class="filtro" data-categoria="blusas">Blusas</button>
    <button class="filtro" data-categoria="calçados">Calçados</button>
    <button class="filtro" data-categoria="calças">Calças</button>
  </div>
  
  
    <div class="Coluna1">
      
      <div class="Itens" data-categoria="blusas">
        <div class="Fundo">
          <img src="../images/camisa.webp" alt="Camiseta Adicolor Essentials">
          <p>R$ 89,99</p>
        </div>
        <p>Camiseta Adicolor Essentials</p>
      </div>

      <div class="Itens" data-categoria="blusas">
        <div class="Fundo">
          <img src="../images/camisa2.webp" alt="Camiseta Esportiva">
          <p>R$ 119,99</p>
        </div>
        <p>Camiseta Esportiva</p>
      </div>

      <div class="Itens" data-categoria="blusas">
        <div class="Fundo">
          <img src="../images/camisa3.webp" alt="Camiseta Essentials">
          <p>R$ 99,99</p>
        </div>
        <p>Camiseta Essentials</p>
      </div>

      <div class="Itens" data-categoria="blusas">
        <div class="Fundo">
          <img src="../images/jaqueta.jpg" alt="">
          <p>R$ 199,99</p>
        </div>
        <p>Moletom Essentials</p>
      </div>

    </div>

    <div class="Coluna2">
      
      <div class="Itens" data-categoria="calças">
        <div class="Fundo">
          <img src="../images/calca1.webp" alt="Calças Pretas Afuniladas">
          <p>R$ 199,99</p>
        </div>
        <p>Calças Pretas Afuniladas</p>
      </div>

      <div class="Itens" data-categoria="calças">
        <div class="Fundo">
          <img src="../images/calca2.webp" alt="Calças Pretas Afuniladas Cinza">
          <p>R$ 199,99</p>
        </div>
        <p>Calças Pretas Afuniladas Cinza</p>
      </div>

      <div class="Itens" data-categoria="calças">
        <div class="Fundo">
          <img src="../images/calca3.webp" alt="Calças Adidas">
          <p>R$ 149,99</p>
        </div>
        <p>Calças Adidas</p>
      </div>

      <div class="Itens"  data-categoria="calças">
        <div class="Fundo">
          <img src="../images/calca4.webp" alt="Calça Beand Love">
          <p>R$ 249,99</p>
        </div>
        <p>Calça Beand Love</p>
      </div>

    </div>

    <div class="Coluna3">
      
      <div class="Itens"  data-categoria="calçados">
        <div class="Fundo">
          <img src="../images/tenis2.webp" alt="Stan Smith Her Vegan">
          <p>R$ 499,99</p>
        </div>
        <p>Stan Smith Her Vegan</p>
      </div>

      <div class="Itens"  data-categoria="calçados">
        <div class="Fundo">
          <img src="../images/tenis1.webp" alt="Stan Smith Recon">
          <p>R$ 799,99</p>
        </div>
        <p>Stan Smith Recon</p>
      </div>

      <div class="Itens"  data-categoria="calçados">
        <div class="Fundo">
          <img src="../images/chuteira.webp" alt="Tenis Superstar">
          <p>R$ 499,99</p>
        </div>
        <p>Tenis Superstar</p>
      </div>

      <div class="Itens"  data-categoria="calçados">
        <div class="Fundo">
          <img src="../images/tenis.webp" alt="Tenis Superstar">
          <p>R$ 499,99</p>
        </div>
        <p>Tenis Superstar</p>
      </div>

    </div>
  </section>

    <iframe src="../partials/footer.html" frameborder="0" height="150px" width="100%"></iframe>
    <script src="../js/carrinho.js"></script>
</body>
    
</html>