<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/contact.css">
</head>
<body>
    <div class="container" >
        <a class="links" id="fazercontato"></a>
        
         
        <div class="content">      
          <div id="contato">
            <form method="post" action=""> 
              <h1>Preencha suas informações</h1>
              <h2 Style="text-align: center;">Logo entraremos em contato</h2> 
              <div class="div1">
              <p> 
                <label for="nome_login">Seu nome</label>
                <input id="nome_login" name="nome" required="required" type="text" placeholder="João"/>
              </p>
              <p> 
                <label for="nome_login">Seu Sobrenome</label>
                <input id="nome_login" name="nome" required="required" type="text" placeholder="Santos"/>
              </p>
               
              <p> 
                <label for="email_login">Seu e-mail</label>
                <input id="email_login" name="email" required="required" type="email" placeholder="ex. exemplo@gmail.com" /> 
              </p>

              <p> 
                <label for="email_login">Seu Cpf</label>
                <input id="email_login" name="Cpf" required="required" type="text" placeholder="Só números" /> 
              </p>

              <p> 
                <label for="email_login">Seu Celular</label>
                <input id="email_login" name="Celular" required="required" type="text" placeholder="81-98888-8888" /> 
              </p>
            </div>
            <div class="div2">
              <p> 
                <label for="email_login">Seu Telefone</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="9999-9999" /> 
              </p>

              <p> 
                <label for="email_login">Cep</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="00000-000" /> 
              </p>

              <p> 
                <label for="email_login">Tamanho de Camisa</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="P,M,G,GG,XG" /> 
              </p>

              <p> 
                <label for="email_login">Tamanho Bermuda</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="36 ao 54" /> 
              </p>

              <p> 
                <label for="email_login">Tamanho de Calçado</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="35 ao 53" /> 
              </p>
              <div class = "div4">
              <input type="button" value="Enviar informações"> 
            </div>
            </div>
            
              
            
            
            </form>
          </div>
        </div>
      </div>  
</body>
</html>