<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sport Center Soul</title>
    <link rel="stylesheet" href="../style/home.css" type="text/css">
</head>
<body>
    <div class="chamada">
        <h1>E, ai já escolheu o que você vai levar?</h1>
        <h2>Dá uma olhadinha nos produtos abaixo!</h2>
    </div>       
    
    <section class="divpai">
    <div class="container1" href="#">
        <img src="https://a-static.mlcdn.com.br/800x560/mini-bola-de-futebol-adidas-al-rihla-pro/magazineluiza/234899500/65cced9858a02a1d0557ec82022634bc.jpg" alt="Foto bola" width="100px">
        <h1>Bola de futebol</h1>
        <p>Mini Bola de Futebol Adidas Al Rihla Pro
        O futebol aproxima corações, a bola é só o começo, o resto da sua jornada no futebol ainda vai ser escrita. As cores trazem a emoção, as equipes, os jogos. A Adidas trouxe a bola da copa do mundo Fifa Catar 2022 Al Rihla Pro mini para você já começar a se aquecer, uma bola especial para um jogo mais que especial, é o que o mundo inteiro estava esperando. </p>
        
    
    </div>
    <div class="container1" href="#">
        <img src="https://a-static.mlcdn.com.br/800x560/mini-bola-de-futebol-adidas-al-rihla-pro/magazineluiza/234899500/65cced9858a02a1d0557ec82022634bc.jpg" alt="Foto bola" width="100px">
        <h1>Bola de futebol</h1>
        <p>Mini Bola de Futebol Adidas Al Rihla Pro
        O futebol aproxima corações, a bola é só o começo, o resto da sua jornada no futebol ainda vai ser escrita. As cores trazem a emoção, as equipes, os jogos. A Adidas trouxe a bola da copa do mundo Fifa Catar 2022 Al Rihla Pro mini para você já começar a se aquecer, uma bola especial para um jogo mais que especial, é o que o mundo inteiro estava esperando. </p>
        
    
    </div>
        
    <div class="container1" href="#">
        <img src="https://a-static.mlcdn.com.br/800x560/mini-bola-de-futebol-adidas-al-rihla-pro/magazineluiza/234899500/65cced9858a02a1d0557ec82022634bc.jpg" alt="Foto bola" width="100px">
        <h1>Bola de futebol</h1>
        <p>Mini Bola de Futebol Adidas Al Rihla Pro
        O futebol aproxima corações, a bola é só o começo, o resto da sua jornada no futebol ainda vai ser escrita. As cores trazem a emoção, as equipes, os jogos. A Adidas trouxe a bola da copa do mundo Fifa Catar 2022 Al Rihla Pro mini para você já começar a se aquecer, uma bola especial para um jogo mais que especial, é o que o mundo inteiro estava esperando. </p>
        
    
    </div>
        

    
    <div class="container1" href="#">
        <img src="https://a-static.mlcdn.com.br/800x560/mini-bola-de-futebol-adidas-al-rihla-pro/magazineluiza/234899500/65cced9858a02a1d0557ec82022634bc.jpg" alt="Foto bola" width="100px">
        <h1>Bola de futebol</h1>
        <p>Mini Bola de Futebol Adidas Al Rihla Pro
        O futebol aproxima corações, a bola é só o começo, o resto da sua jornada no futebol ainda vai ser escrita. As cores trazem a emoção, as equipes, os jogos. A Adidas trouxe a bola da copa do mundo Fifa Catar 2022 Al Rihla Pro mini para você já começar a se aquecer, uma bola especial para um jogo mais que especial, é o que o mundo inteiro estava esperando. </p>
        
    
    </div>


</section>

    
</body>
</html>